# ============================
# 1. Version Control & CI/CD
# ============================
.git
.gitignore
.github/
# We keep .dvc/ (config) and dvc.yaml/dvc.lock (pipeline) by default
# Exclude docker config files from the image itself
docker-compose.yml
Dockerfile
Dockerfile.backend
Dockerfile.frontend

# ============================
# 2. Python & Environment
# ============================
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
# Ignore all variations of virtual envs
venv/
venv311/
.venv/
env/

# ============================
# 3. Logs & Metrics
# ============================
*.log
logs/
mlruns/
mlflow.db

# ============================
# 4. Secrets (CRITICAL)
# ============================
.env
.DS_Store

# ============================
# 5. DATA & ARTIFACTS STRATEGY
# ============================
# A. IGNORE EVERYTHING in these folders by default
data/*
artifacts/*
models/*

# B. EXCEPTION: We NEED the DVC tracking files (.dvc)
# This allows us to run 'dvc pull' inside the container or on EC2
!data/**/*.dvc
!artifacts/**/*.dvc
!models/**/*.dvc

# C. EXCEPTION: We NEED specific small constants required by code
# Your utils/paths.py explicitly looks for these
!data/constants/jobs.csv
!data/constants/locations.yaml
!data/constants/KB/detailed_job_descriptions.json
!data/constants/skills.csv


# D. EXCEPTION: Keep DVC internal ignores if present
!models/.gitignore