# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / Packaging
*.egg-info/
dist/
build/

# Virtual environments
venv*/
.venv*/
env*/

# Secrets
.env

# Artifacts / data
# Ignore the data content
data/**
# BUT do not ignore the .dvc files inside data
!data/**/.dvc

# Data & artifacts
# Ignore the raw data folder content
artifacts/*
# But DO NOT ignore the .dvc files that track them
!artifacts/*.dvc

# Logs
*.log

# OS
.DS_Store


# MLflow local database
mlflow.db
mlruns/

# --- DVC / ML Models ---
# 1. Ignore the heavy weight folders specifically
models/all-mpnet-base-v2/

# 2. Ensure the .dvc files are NEVER ignored
!models/*.dvc
!models/**/*.dvc

# 3. Ensure DVC internal gitignores are kept
!models/**/.gitignore

!data/constants/jobs.csv
!data/constants/locations.yaml
!data/constants/skills.csv


#temp
.github/workflows/cicd.yml