# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / Packaging (Add this!)
*.egg-info/
dist/
build/

# Virtual environments
venv*/
.venv*/
env*/

# Python cache
__pycache__/
*.pyc

# Secrets
.env

# Artifacts / data
# Ignore the data content
data/**
# BUT do not ignore the .dvc files inside data
!data/**/.dvc
artifacts/


# Data & artifacts
artifacts/
# Ignore the raw data folder
artifacts/nltk_data/

# But DO NOT ignore the .dvc files that track them
!artifacts/*.dvc
# Logs
*.log

# OS
.DS_Store

#temp 
.github
docker_compose.yml

# MLflow local database
mlflow.db
mlruns/

# --- DVC / ML Models ---
# Ignore all model weights/artifacts
models/**

# EXCEPT for the .dvc metadata files (The receipts)
!models/**/.dvc

# EXCEPT for the .gitignore files DVC might create inside subfolders
!models/**/.gitignore